<tr id="<%= dom_id todo %>" style="border-bottom: 1px solid #DDD">
  <td>
    <%= l(todo.deadline, format: :long) %>
  </td>

  <td>
    <%= todo.title %>
  </td>

  <td>
    <%= todo.decription %>
  </td>
  <td>
  <%= link_to t('.show'), todo %>
  </td>
  <td>
  <%= link_to t('.edit'), edit_todo_path(todo) %>
  </td>
  <td>
  <%= link_to t('.del'), todo, method: :delete %>
  </td>
</tr>
