<p style="color: green"><%= notice %></p>

<h1><%= t('.apptitle') %></h1>

<div id="todos">
  <table border>
  <thead>
  <th><%= t('.deadline') %><%= link_to ordermark(@order) , mark_click_path(@order) %></th>
  <th><%= t('.title') %></th>
  <th><%= t('.description') %></th>
  </thead>
  <tbody>
  <% @todos.each do |todo| %>
    <%= render todo %>
  <% end %>
  </tbody>
  </table>
</div>

<%= link_to t('.addtask'), new_todo_path %>
