<p style="color: green"><%= notice %></p>

<dl>
<dt>
<%= t('.deadline') %>
</dt>
<dd>
  <%= @todo.deadline %>
</dd>
</dl>

<dl>
<dt>
<%= t('.title') %>
</dt>
<dd>
  <%= @todo.title %>
</dd>
</dl>

<dl>
<dt>
  <%= t('.description') %>
</dt>
<dd>
  <%= @todo.decription %>
</dd>
</dl>

<div>
  <%= link_to t('.edit'), edit_todo_path(@todo) %> |
  <%= link_to t('.backtolist'), todos_path %>

  <%= button_to t('.del'), @todo, method: :delete %>
</div>
